[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/inbalbeka
[access "refs/for/refs/*"]
	read = group user/inbalbeka
	push = group user/inbalbeka
	label-Code-Review = -2..+2 group user/inbalbeka
	label-Verified = -1..+1 group user/inbalbeka
	rebase = group user/inbalbeka
	removeReviewer = group user/inbalbeka
	submit = group user/inbalbeka
[access "refs/heads/*"]
	read = group user/inbalbeka
	create = group user/inbalbeka
	push = +force group user/inbalbeka
	pushMerge = group user/inbalbeka
[access "refs/tags/*"]
	push = +force group user/inbalbeka
	pushTag = group user/inbalbeka
	pushSignedTag = group user/inbalbeka
[receive]
	requireSignedOffBy = true
	requireChangeId = true
	createNewChangeForAllNotInTarget = true
[submit]
	action = cherry pick
